.container {
    position: relative;
    margin: 60px 10%;
    padding: 0;
}

.article-title {
    text-align: center;
}

.author-info {
    text-align: center;
    margin-bottom: 45px;

    .author-info_avatar {
        width: 26px;
        height: 26px;
        border-radius: 13px;
    }

    .author-info_name {
        position: relative;
        top: -7px;
        margin-left: 12px;
    }
}

.article-content {
    font-size: 20px;

    .article-content_p {
        text-indent: 30px;
    }
}

