.container {
    position: relative;
    margin: 60px auto;
    padding: 0;
    width: 80%;
    max-width: 800px;
}

.article-title {
    text-align: center;
}
a {
}
.author-info {
    text-align: center;
    margin-bottom: 45px;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;

    >div {
        display: inline-block;
        min-width: 90px; /* compatibility safari  */
    }

    .author-info_avatar {
        width: 26px;
        height: 26px;
        border-radius: 13px;
        float: left;
    }

    .author-info_name {
        margin-left: 12px;
    }
}

.article-content {
    font-size: 22px;

    .article-content_p {
        text-indent: 30px;
    }
}
