.container {
    position: relative;
    padding: 0 15px;
    margin: 0 10%;

    .content {
        margin-top: 30px;
    }
}

.height-50 {
    height: 50px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
