section {
    margin-bottom: 15px;
}

h3 {
    border-bottom: 1px solid #ddd;
}

.container {
    position: relative;
    padding: 0 15px;
    margin: 30px 10%;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    overflow: hidden;
}

.change-style-to {
    width: 33.33%;
    opacity: 0.6;
}
